[Desktop Entry]
Name=gView
Comment=Image Viewer
Comment[pl]=Przeglądarka obrazków
Exec=gview
Icon=gview.png
Terminal=0
Type=Application
# vi: encoding=utf-8
