[Desktop Entry]
Name=GView
Comment=Image Viewer
Comment[pl]=Przeglądarka obrazków
Exec=gview
Icon=gview.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
