[Desktop Entry]
Name=GView
Comment=Image Viewer
Comment[pl]=Przeglądarka obrazków
Exec=gview
Icon=gview
Terminal=false
Type=Application
Categories=GTK;Graphics;Viewer;
# vi: encoding=utf-8
